<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Include any additional CSS or meta tags here -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Instructions</a></li>
                <li><a href="/helloworld">Hello World Function</a></li>
                <li><a href="/display_data">Display Table Data</a></li>
                <li><a href="/EDA">Exploratory Data Analysis</a></li>
                <li><a href="/model_results">Model Results</a></li>
                <li><a href="/model_prediction">Model Prediction</a></li>
                <li><a href="/ChatGPT">ChatGPT Analysis</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- This block will be overridden by content from other pages -->
        {% endblock %}
    </main>
    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>
