body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
main {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.nav-pane {
    background-color: green;
}

.nav-pane .nav-link {
    color: white;
}

.nav-pane .nav-link:hover {
    color: lightgray;
}
